@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Alata", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.herosection {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(121, 21, 21, 0.4)), url(/images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 43.3rem;
    padding-top: 2.67rem;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: transparent;
}

.herobefore {
    max-width: 43.3rem;
    padding: 2.67rem 2.67rem 2rem;
    margin-top: 8.67rem;
    font-size: 2.8rem;
    margin-left: 2em;
}

.herobefore-text {
    border: 2px solid #ffff;
    padding: 2rem;
}

.logo {
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
    font-size: 12px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 15px;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav__links a::after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-bottom: 0px;
}

.nav__links a:hover::after {
    width: 100%;
    transition: all .5s;
}

.overlay__content a::after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-bottom: 0px;
}

.overlay__content a:hover::after {
    width: 25%;
    transition: all .5s;
}


/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 70%;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.overlay a {
    padding: 15px;
    display: block;
    transition: all 0.3s ease 0s;
    font-size: 1.6rem;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
    color: #edf0f1;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}

p {
    font-size: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.fa,
.fas {
    font-weight: 900;
    font-size: 1.5rem;
}

.sectiontwo {
    /* padding: 6.4rem 0; */
    /* text-align: center; */
    padding: 12rem 3rem;
    max-width: 1110px;
}

.carrertext {
    width: 90%;
    max-width: 74rem;
    margin: 0 auto;
}

.csrreerone {
    position: relative;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
}

.csrreerone img {
    max-width: 731px;
    width: 100%;
    height: auto;
}

.carrertwo h2 {
    font-size: 2.13rem;
    font-weight: normal;
    /* line-height: 6rem; */
}

.carrertwo p {
    padding-top: 1.07rem;
    text-transform: capitalize;
    font-weight: normal;
    color: #000;
    font-family: "Alata", sans-serif;
    line-height: 3.125rem;
    opacity: .5;
}

.carrertwo {
    position: absolute;
    bottom: 0;
    right: -80px;
    bottom: -120%;
    width: 600px;
    padding: 6.4rem 0 0 6.4rem;
    margin-right: 10.73rem;
    background-color: #fff;
    text-align: start;
}

.creation-section {
    padding-bottom: 8rem;
    padding-top: 4rem;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.creative-flx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.crt-title {
    font-size: 2.13rem;
}

.cr-btn {
    border: 1px solid #000;
    padding: 10px 30px;
    color: #000;
    background-color: #fff;
    font-family: "Alata", sans-serif;
    cursor: pointer;
    transition: background-color .3s;
    width: 10.47rem;
    height: 2.67rem;
    text-transform: uppercase;
}

.cr-btn:hover {
    background-color: #000;
    color: #fff;
}

.cr-btn-mobile {
    align-self: center;
    align-content: center;
    border: 1px solid #000;
    padding: 10px 30px;
    color: #000;
    background-color: #fff;
    font-family: "Alata", sans-serif;
    cursor: pointer;
    transition: background-color .3s;
    width: 10.47rem;
    height: 2.67rem;
    text-transform: uppercase;
}

.cr-btn-mobile:hover {
    background-color: #000;
    color: #fff;
}

.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
    grid-gap: 1.5em;
}

.container {
    position: relative;
}

.container:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
}


/* picture {
    width: 100%;
    max-width: 100%;
    height: auto;
} */

.wrapper-grid h1 {
    position: absolute;
    bottom: 0;
    padding: 0 0 20px 20px;
    color: #fff;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}

.final-footer {
    background-color: var(--Black);
    color: var(--White);
    padding: 4rem;
}

.ft-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ft-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ft-nav {
    list-style: none;
    display: flex;
    letter-spacing: 3px;
    transition: all 0.3s ease 0s;
    text-transform: capitalize;
    font-size: 15px;
    gap: 1rem;
    font-weight: bold;
}

.ft-nav li a {
    text-decoration: none;
    color: #fff;
}

.date {
    color: var(--Very-Dark-Gray);
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
}

.socialmedia {
    letter-spacing: 3px;
    cursor: pointer;
}

.ft-details {
    padding-top: 2rem;
}

.ft-nav a::after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-bottom: 0px;
}

.ft-nav a:hover::after {
    width: 100%;
    transition: all .5s;
}

@media screen and (max-width:768px) {
    html {
        overflow-x: hidden;
    }
    .herosection {
        background: linear-gradient(rgba(0, 0, 0, .4), rgba(121, 21, 21, 0.4)), url(/images/mobile/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }
    .herobefore {
        /* padding: 2.67rem 2.67rem 2rem; */
        margin-top: 8.67rem;
        font-size: 2rem;
        /* margin: 0 auto; */
    }
    .header {
        /* padding-top: 0; */
        padding: 0;
        margin-top: 0 auto;
    }
    .sectiontwo {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /* .carrertext {
        display: flex;
        flex-direction: column;
    } */
    .carrertwo {
        position: relative;
        right: 10%;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    .creation-section {
        padding: 4rem;
    }
    .wrapper-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* padding: 2rem; */
    }
    .desktopimage {
        display: none;
    }
    .mobileimage {
        width: 100%;
    }
    .ft-title {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-family: "Alata", sans-serif;
    }
    .ft-nav li a {
        text-decoration: none;
        color: #fff;
        font-weight: normal;
        letter-spacing: normal;
    }
    .ft-nav {
        display: flex;
        flex-direction: column;
    }
    .socialmedia {
        display: none;
    }
    .socialmedia-mobile {
        cursor: pointer;
    }
}

@media screen and (max-width:1024px) {
    html {
        overflow-x: hidden;
    }
    .socialmedia-mobile {
        display: none;
    }
    .mobileimage {
        display: none;
    }
    .creation-section {
        padding: 2rem;
        padding-top: 2rem;
    }
    .desktopimage {
        width: 100%;
    }
    .sectiontwo {
        padding: 2rem;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    .carrertwo {
        position: relative;
        /* bottom: -17%; */
        bottom: 0;
        /* display: flex;
        flex-direction: column; */
        /* padding: 0 0 20px 20px; */
        padding: 3.2rem 1rem 0;
        /* color: #fff; */
        font-size: 20px;
        font-family: "Josefin Sans", sans-serif;
    }
    .carrertwo img {
        width: 100%;
    }
    /* .cr-btn-mobile {
        display: none;
    } */
}

@media (min-width: 1025px) {
    html {
        overflow-x: hidden;
    }
    .socialmedia-mobile {
        display: none;
    }
    .mobileimage {
        display: none;
    }
    .cr-btn-mobile {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    html {
        overflow-x: hidden;
    }
    .herosection {
        padding-top: 0;
    }
    .herobefore {
        margin-top: 2rem;
        padding-left: 0;
        font-size: 1.7rem;
    }
    /* .sectiontwo {
        /* display: flex;
        flex-direction: column; */
    /* align-items: center;
        justify-content: center; */
    /* } */
    .carrertwo {
        /* position: relative; */
        bottom: 0;
        left: 0;
        padding: 2rem;
        margin: 0 auto;
        display: contents;
    }
    .carrertwo h2 {
        padding-top: 2rem;
        text-align: center;
    }
    .carrertwo p {
        line-height: normal;
        text-align: center;
    }
    .creative-flx {
        text-align: center;
        padding: 2rem;
        align-self: center;
    }
    .cr-btn {
        display: none;
    }
    .cr-btn-mobile {
        align-self: center;
        align-content: center;
        border: 1px solid #000;
        padding: 10px 30px;
        color: #000;
        background-color: #fff;
        font-family: "Alata", sans-serif;
        cursor: pointer;
        transition: background-color .3s;
        width: 10.47rem;
        height: 2.67rem;
        text-transform: uppercase;
    }
    .wrapper-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .desktopimage {
        display: none;
    }
    .mobileimage {
        display: grid;
    }
    .final-footer {
        display: flex;
        flex-direction: column;
    }
    .socialmedia {
        display: none;
    }
    .socialmedia-mobile {
        display: flex;
    }
    .ft-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    html {
        overflow-x: hidden;
    }
    .herosection {
        padding-top: 0;
    }
    .herobefore {
        margin-top: 2rem;
        margin-left: 0 auto;
        padding-left: 0;
        font-size: 1rem;
    }
    /* .sectiontwo {
        display: flex;
        flex-direction: column;
    } */
    .carrertwo {
        /* position: relative; */
        bottom: 0;
        left: 0;
        padding: 2rem;
        margin: 0 auto;
        display: contents;
    }
    .carrertwo h2 {
        padding-top: 2rem;
        text-align: center;
        font-size: 1rem;
    }
    .carrertwo p {
        line-height: normal;
        text-align: center;
    }
    .creative-flx {
        text-align: center;
        padding: 2rem;
        align-self: center;
        font-size: 1rem;
        text-align: center;
    }
    .creative-flx h1 {
        font-size: 1.5rem;
        text-align: center;
        align-self: center;
    }
    .cr-btn-mobile {
        align-self: center;
        align-content: center;
        border: 1px solid #000;
        padding: 10px 30px;
        color: #000;
        background-color: #fff;
        font-family: "Alata", sans-serif;
        cursor: pointer;
        transition: background-color .3s;
        width: 10.47rem;
        height: 2.67rem;
        text-transform: uppercase;
    }
    .cr-btn {
        display: none;
    }
    .wrapper-grid {
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .desktopimage {
        display: none;
    }
    .mobileimage {
        display: grid;
    }
    .final-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .socialmedia {
        display: none;
    }
    .socialmedia-mobile {
        display: flex;
        gap: 1rem;
    }
    .ft-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
